.todomain {
    width: 100vw;
    height: 100vh;
    background: rgb(2, 0, 36);
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 8%,
            rgba(253, 29, 29, 1) 47%, rgba(69, 75, 252, 0.3556034482758621) 93%);
    display: flex;
    align-items: center;
    justify-content: center;
}