.todoboxmain {
    /* width: 30vw; */
    min-height: 20vh;
    max-height: auto;
    padding: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    border-radius: 10px;
    background-color: #090C2D;



}

.first-text {
    text-align: center;

    color: #090C2D;
    margin-top: 20px;

}

.todobox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 2PX 2PX 10PX lightcyan;

}

.header-list input {
    padding: 10px;

}

.btn button {
    font-size: 15px;
    margin-top: 10px;
    border: none;
    background-color: rgb(221, 72, 129);
    border-radius: 2px;
    padding: 10px 15px 10px 15px;
    margin-bottom: 10PX;
}



.list {
    display: flex;
    justify-content: space-between;
    /* background-color: rgb(21, 103, 170); */
    background-color: whitesmoke;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 2px 2px 2px solid ghostwhite;
}

.icon {
    background: rgb(2, 0, 36);
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 8%,
            rgba(253, 29, 29, 1) 47%,
            rgba(69, 75, 252, 0.3556034482758621) 93%);
    border-radius: 50px;
    padding: 5px;
    margin-left: 5px;

}

.list-icon {
    display: flex;



}

.update-icon {
    background: rgb(2, 0, 36);
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 8%,
            rgba(253, 29, 29, 1) 47%,
            rgba(69, 75, 252, 0.3556034482758621) 93%);
    border-radius: 50px;
    padding: 5px;
    margin-left: 5px;


}

.remove-btn button {

    font-weight: bolder;
    padding: 5PX;
    border-radius: 4PX;
    box-shadow: 2PX 2PX 10PX lightcyan;
    border: none;
    margin: 15PX 0PX 5PX 70PX;
}

.create {
    position: relative;
    display: inline-block;
    /* border-bottom: 1px dotted black; */
}

.create .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.create:hover .tooltiptext {
    visibility: visible;
}


.create .tooltext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.create:hover .tooltext {
    visibility: visible;
}

.very-big {

    display: flex;
    justify-content: space-between;
}

.big {
    padding: 10px;

}